{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Why white?</title>

    <link rel="stylesheet" type="text/css" href="{% static 'presentation.css' %}">

</head>
<body>
<!--<script src="presentation.js"></script>-->

<div id="container">
    <div id="container2">
        <div class="box one"><div> <img src="{% static 'without%20white.png' %}" align="center">
        </div></div>
        <div class="box two"><div>  <img src="{% static 'With%20white.png' %}" align="center">
        </div></div>
    </div>
</div>
</body>
</html>